<div class="slider-wrapper">
  <div class="swiper" #swiperRef>
    <div class="swiper-wrapper">
      @for (product of products; track product.id) {
        <div class="swiper-slide">
          <app-product-card
            [product]="product"
            [eagerLoad]="true"
            (addToCart)="addToCart.emit($event)"
            (addToWishlist)="addToWishlist.emit($event)" />
        </div>
      }
    </div>
  </div>
</div>

<div class="text-center mt-4">
  <a routerLink="/products" class="view-all-btn">
    <span>{{ 'home.view_all_products' | translate }}</span>
    <i class="bi bi-arrow-left"></i>
  </a>
</div>
