@if (brands.length > 0) {
  <div class="swiper" #swiperRef>
    <div class="swiper-wrapper">
      @for (brand of brands; track brand.id) {
        <div class="swiper-slide">
          <a [routerLink]="['/products']" [queryParams]="{brand: brand.name}" class="brand-card" [title]="brand.name">
            @if (brand.image) {
              <img [src]="brand.image | cldImage:200" [alt]="brand.name"
                   loading="lazy" decoding="async" draggable="false">
            } @else {
              <div class="brand-placeholder">
                <i class="bi bi-award"></i>
              </div>
            }
          </a>
        </div>
      }
    </div>
  </div>
}
