<div class="sz-trust-card">
  <div class="sz-trust-header">
    <span>{{ 'checkout.trust_title' | translate }}</span>
  </div>
  <div class="sz-trust-body">
    @for (item of trustItems; track item.icon) {
      <div class="sz-trust-item">
        <img [src]="item.icon" class="sz-trust-icon" alt="">
        <div class="sz-trust-text">
          <div class="sz-trust-item-title">{{ item.titleKey | translate }}</div>
          <div class="sz-trust-item-desc">{{ item.descKey | translate }}</div>
        </div>
      </div>
    }
  </div>
</div>
