@media (min-width: 992px) {
  .footer-brand-col {
    padding-inline-start: 30px;
  }
}

.footer {
  font-size: 0.78rem;

  h6 {
    font-size: 0.85rem;
  }

  a:hover {
    color: var(--sz-accent) !important;
  }
}
