:host {
  display: block;
}

@media (max-width: 768px) {
  .below-slider-banners img {
    height: auto !important;
  }
}

.section-title {
  font-weight: 900;
  font-size: 1.5rem;

  @media (max-width: 576px) {
    font-size: 1.15rem;
  }
}
